<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slack Meetups</title>
  <style>
    body {
      font-family: system-ui;
      max-width: 650px;
      padding: 1em;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <h1>Slack Meetups is running!</h1>
  <p>…but there’s nothing to do here. Check <a href="https://github.com/liddiard/slack-meetups/blob/master/README.md"> the readme</a> for more info.</p>
</body>
</html>
