{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Loading…</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/pool_stats.css' %}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js" integrity="sha256-SQJ/nCYPXFPuqoS56EfnesDBPNiitndOIfN2WdPRi/o=" crossorigin="anonymous"></script>
	</head>
	<body>

    <aside class="card">
      <p><em>See all the <strong>connections</strong> that were formed in…</em></p>
      <h1 id="pool-name"></h1>
      <h2>📊 Statistics</h2>
      <ul id="stats">
        <li><span id="member-count" class="stat"></span> participants</li>
        <li><span id="round-count" class="stat"></span> rounds</li>
        <li><span id="matches-count" class="stat"></span> pairings</li>
        <li><span id="avg-round-size" class="stat"></span> average round size</li>
        <li><span id="meetup-rate" class="stat"></span> meetup rate</li>
      </ul>
      <h2>🏆 Leaderboard</h2>
      <p>Who’s met the most people:</p>
      <div id="leaderboard">
        <table>
          <thead>
            <tr>
              <th class="rank">Rank</th>
              <th class="name">Name</th>
              <th class="people-met">Met</th>            
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </aside>

    <div id="legend" class="card">
      <span class="accent circle">Circles</span> are sized based on the number of people each person has met. <strong>Hover</strong> over a circle to see a person’s pairings. <span class="met accent">Orange lines</span> show pairs that actually met, while <span class="did-not-meet accent">gray lines</span> show pairs that didn’t. This visualization looks best on a large display.
    </div>

		<figure>
    </figure>

    <div id="loading"><span class="spinner">∴</span> Loading...</div>
    <script src="{% static 'scripts/pool_stats.js' %}"></script>
	</body>
</html>