{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Loading…</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'styles/pool_stats.css' %}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js" integrity="sha256-SQJ/nCYPXFPuqoS56EfnesDBPNiitndOIfN2WdPRi/o=" crossorigin="anonymous"></script>
	</head>
	<body>

    <aside>
      <h1 id="pool-name"></h1>
      <ul id="stats">
        <li><span id="member-count" class="stat"></span> members</li>
        <li><span id="round-count" class="stat"></span> rounds</li>
      </ul>
      <h2>Leaderboard</h2>
      <p>Who’s met the most people:</p>
      <div id="leaderboard">
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Met</th>            
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </aside>

    <div id="legend">
      Circles are sized based on the number of people each person has met. Hover over a circle to see a person’s pairings. Orange lines show pairings that actually met, while gray lines show pairings that didn’t. This visualization looks best on a larger display.
    </div>

		<figure>
    </figure>

    <script src="{% static 'scripts/pool_stats.js' %}"></script>
	</body>
</html>