{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RCG Meetups: Make new friends and grow your network at PayPal.</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="RCG Meetups is a program to help you get to know other recent college grads through casual 1:1 chats." />
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
        <link rel="stylesheet" href="{% static 'styles/landing_page.css' %}" />
    </head>
    <body>
        <main>
            <header>
                <img src="{% static 'images/rcg_meetups_logo.svg' %}" alt="RCG Meetups logo" class="logo">
            </header>

            <p>University Programs presents <strong>RCG Meetups</strong>, a program to help you get to know other recent college grads through casual 1:1 chats. Meet new friends, grow your network, and form meaningful connections with RCGs from across the company.</p>
            <p>Pairings happen every other week – you can opt in or out based on your availability. <!-- Participants are also invited to monthly group reunions with everyone in the program. --> Just join <a href="https://paypal.slack.com/messages/CK07PD945/" target="_blank">#rcg-meetups</a> to participate. <span class="next-session"></span></p>

            <div class="actions">
                <a href="https://paypal.slack.com/messages/CK07PD945/" target="_blank" class="button">Join #rcg-meetups</a>
            </div>

            <h2>How does the program work?</h2>
            <p>After joining the Slack channel, you’ll receive a message at the start of the next pairing round asking for an introduction.</p>
            <img src="{% static 'images/first_interaction.png' %}" alt="First interaction with RCG Meetups bot – welcome and introduction" class="inline" />
            <p>After introducing yourself, you’ll receive your first pairing.</p>
            <img src="{% static 'images/receive_match.png' %}" alt="Receiving a match from the bot" class="inline" />
            <p>Message the RCG you pair with to meet up!</p>
            <img src="{% static 'images/message_match.png' %}" alt="Messaging the person you matched with" class="inline" />
            <p>For following rounds, you’ll be asked if you want to be paired with someone new this week.</p>
            <img src="{% static 'images/ask_availability.png' %}" alt="RCG Meetups bot asking if you want to participat in the next round" class="inline" style="padding: 0.5em" />
            <p>Pairing rounds start the first and third Monday of the month. If at any point you want to leave the program, simply leave the Slack channel.</p>
            <!-- <p>Program participants also receive invites to group reunions during the last week of each month. These meetups are great way to keep in touch with RCGs you’ve met before and to meet more new people.</p> -->

            <!-- <h2>Example schedule for a month</h2>
            <img src="{% static 'images/month_calendar_matching_schedule.png' %}" alt="Example matching schedule for a month" class="inline calendar" /> -->

            <h2>Why RCG Meetups?</h2>
            <p>The goal of RCG Meetups is to to help you make new friends and grow your network at PayPal.</p>
            <p>It can be difficult to get to know other recent college grads outside of quarterly events. Participating in RCG Meetups gives you more familiar faces the next time you’re at an RCG gathering.</p>
            <p>1:1 meetups also help you gain insight into different parts of the company. You might even find someone you have a lot in common with who you wouldn’t have met otherwise!</p>
            <p>Participate by joining the channel. <span class="next-session"></span></p>

            <div class="actions">
                <a href="https://paypal.slack.com/messages/CK07PD945/" target="_blank" class="button">Join #rcg-meetups</a>
            </div>

            <h2>Questions?</h2>
            <p>Feel free to ask questions in the <a href="https://paypal.slack.com/messages/CK07PD945/" target="_blank">#rcg-meetups</a> Slack channel.</p>
        </main>
        <script src="{% static 'scripts/rcg.js' %}"></script>
    </body>
</html>
