{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
{% endblock %}

{% block extrastyle %}
<style>
    :root {
        --accessible-blue: #0070ba;
        --accessible-blue-hover: #005ea6;
        --accessible-blue-gradient-end: #1546a0;
        --lighter-pal-blue: #bfdbee;
        --secondary-grey: #6c7378;
        --red: #d20000;
    }
    a:link, a:visited {
        color: var(--accessible-blue);
    }
    a:hover {
        color: var(--accessible-blue-hover);
    }
    .button, 
    input[type=button], 
    input[type=submit] {
        background: white;
        border: 2px solid var(--accessible-blue);
        color: var(--accessible-blue);
    }
    input[type=submit].default {
        background: var(--accessible-blue);
        color: white;
    }
    input[type=submit].default:hover {
        border: 0;
        background: var(--accessible-blue-hover);
        color: white;
    }
    .button:hover, 
    input[type=button]:hover, 
    input[type=submit]:hover {
        background: white;
        border: 2px solid var(--accessible-blue-hover);
        color: var(--accessible-blue-hover);
    }
    #header {
        /* Accessible Blue Gradient */
        background: linear-gradient(to right, var(--accessible-blue), var(--accessible-blue-gradient-end));
        color: var(--lighter-pal-blue);
    }
    /* extra-specific selector to override Django's default */
    #branding h1#site-name a {
        color: white;
    }
    .module caption {
        background: var(--secondary-grey);
    }
    div.breadcrumbs {
        background: white;
        color: inherit;
    }
    div.breadcrumbs a {
        color: var(--accessible-blue);
    }
    div.breadcrumbs a:hover {
        color: var(--accessible-blue-hover);
    }
    .object-tools a:link,
    .object-tools a:visited {
        background-color: var(--accessible-blue);
    }
    .object-tools a:hover {
        background-color: var(--accessible-blue-hover);
    }
    .module h2 {
        background: var(--secondary-grey);
    }
    /* extra-specific selector to override Django's default */
    .submit-row .deletelink-box a.deletelink {
        background: var(--red);
    }
</style>
{% endblock %}
